<header> <title>Welcome</title> </header>

<h2>Welcome!</h2>

<button onClick ="window.location.href = '/users/signup'">Signup Here</button><br><br>



<button onClick ="window.location.href = '/users/login'">Login Here</button><br>
