<header> <title>My Game Collection</title> </header>

<h2>My Game Collection</h2>

<%if @games.empty? %>
  <h4> It looks like your video game collection is currently empty. </h4>
<% else %>
<ol>
  <% @games.each do |game| %>
    <li><a href="/games/<%=game.id%>"><%= game.title %></a></li>
  <% end %>
</ol>
<% end %>

<button onClick ="window.location.href = '/games/new'">Add Video Game to Collection</button>
